{% load static %}
{% load thumb %}
{% load rich_text %}
{% load i18n %}
{% load l10n %}
{% load eventurl %}
{% load money %}

<div class="owl-carousel owl-theme owl-loaded owl-drag">
    {% for org in orgs %}
        {% for evt in org.loadedEvents %}
        <div class="item event-item">
            <a href="/{{ org.slug }}/{{ evt.slug }}">
                <div class="event-wrapper">
                    <div class="card-image">
                        <img src="{{ evt.loadedLogo|thumb:'500x200' }}" alt="{{ event.name }}" class="img-responsive" />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ evt.name }}</h5>
                        <div class="card-text">{{ evt.loadedText|rich_text }}</div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            {{ evt.get_date_range_display }}

                            , {{ evt.location|linebreaksbr }}</small>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    {% endfor %}
</div>