{% extends "pretixpresale/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load static %}
{% block page %}
<div class="row justify-content-center  tt-top">
        <h3>Vill du sälja biljetter genom TobTic?</h3>
        <h4>Hur kommer jag igång?</h4>
        <p>
                Skicka ett email till info@tobtic.com , så sätter vi upp ett konto.
        </p>
</div>
<div class="row justify-content-center  tt-top"></div>
<h4>Avgifter</h4>
<p>
        Om kunden betalar med Kort: (1.4% + 1.80kr)/betalning + 1kr/biljett
</p>
<p>
        Om kunden betalar med Swish: 3kr/betalning + 1kr/biljett
</p>
<p>
        Exempel: <br />
        2 biljetter för 100kr som betalas med kort.<br />
        Avgift: 6.60kr dvs 3.30kr/biljett<br/><br/>

        3 biljetter för 200kr som betalas med kort.<br />
        Avgift: 13.20kr dvs 4.40kr/biljett<br/><br/>

        2 biljetter för 100kr som betalas med Swish.<br />
        Avgift: 5kr dvs 2.50kr/biljett<br/><br/>
        3 biljetter för 200kr som betalas med Swish.<br />
        Avgift: 6kr dvs 2kr/biljett<br/><br/>

</p>
</div>
{% endblock %}

{% block tobticjs %}
<script type="text/javascript" src="{% static "tobtic/js/owl.carousel.min.js" %}"></script>
<script type="text/javascript" src="{% static "tobtic/js/app.js" %}"></script>
<script type="text/javascript" src="{% static "tobtic/js/svg4everybody.min.js" %}"></script>
{% endblock %}