{% extends "pretixpresale/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load static %}
{% block page %}
<div class="row justify-content-center  tt-top">
        <div class="col-md-12 col-sm-12">
                <h3>Vill du sälja biljetter genom TobTic?</h3>
                <h4>Hur kommer jag igång?</h4>
                <p>
                        Skicka ett email till info@tobtic.com , så sätter vi upp ett konto.
                </p>
        </div>
</div>
<div class="row justify-content-center ">
        <div class="col-md-12 col-sm-12">
               
        </div>
</div>
{% endblock %}

{% block tobticjs %}
<script type="text/javascript" src="{% static "tobtic/js/owl.carousel.min.js" %}"></script>
<script type="text/javascript" src="{% static "tobtic/js/app.js" %}"></script>
<script type="text/javascript" src="{% static "tobtic/js/svg4everybody.min.js" %}"></script>
{% endblock %}